/*
Author: Siyi Emily Bao
Student Number: 10103388
CISC-282 Assignment 5
*/

body{
	overflow:scroll;
}


#title {
	margin: auto;
	width:800px;
	color:black;
	text-align:center;
	padding-left:70px;
	font-family: 'Pacifico', cursive;
	font-size:170%	
}

.HeadingFont {
	/*font-family: 'Sigmar One', cursive;
	font-family: 'Pacifico', cursive;*/
	color:grey;
	text-align:center;	
	font-size:100%;
	text-shadow: 1px 1px black;
}



form    {
	margin:auto;
	position:relative;
	width:auto;
	height:auto;
	font-family: 'Slabo 27px', serif;
	font-size: 22px;
	margin-left:60px;
	font-weight: bold;
	color:black;
	text-decoration: none;
	
}

p{
	display: block;
}


input[type=submit] {
	
	padding:5px 15px; 
	margin-top:20px;
	background:#ccc; 
	border:3 none;
	cursor:pointer;
	-webkit-border-radius: 5px;
	border-radius: 5px; 
	height:50px;
	width:auto;
	text-align:center;
	font-family: 'Pacifico', cursive;
	font-size:120%;
	margin-left:10px;
	margin-bottom:20px;
	
}


table, td, th {
    border: 1px solid grey;
	margin-left:auto;
	margin-right:auto;
}



/*Picture*/
.picture{
	position:relative;
    overflow: hidden;
	white-space: nowrap;
	display: inline-block;
	margin: 0 10px;
	float: left;
    text-align: center;
}

img{
	width:100px;
	height:100px;	
}

.blockStyle{
	white-space: normal;
	display: block;
	margin-left:300px;
	font-family: 'Slabo 27px', serif;
	font-size:160%;
	padding-bottom:20px;
	width:auto;
	height:auto;
	margin-top:20px;
}

#homepage{
	padding-bottom:20px;
	width: 900px;
	margin: 0 auto;

}


/*Format style for links*/

a:link {
  text-decoration: none;
  color: grey;
  letter-spacing: 500;
  font-weight:bold;
}
a:visited {
  text-decoration: none;
  color: #666666;
  font-weight: bold;
}

a:hover {
  text-decoration: none;
  color: #0B243B;
  background: #D8D8D8;
}

#linkborder{
	border-top:3px solid grey; 
	border-bottom: 3px solid grey;
	width:70%;
	text-align:justify;
	position:relative;
	float:center;
	margin-left:auto;
	margin-right:auto;
}


nav ol {
    text-decoration: none;
    text-align:center;
}
nav ol li {
    display:inline;
    margin-right:.75em;
}
nav ol li:last-child {
    margin-right:0;
}
nav a {
    color:grey;
}

#bold{
	font-weight:bold;
}

.panel{
	
	width:100%;
	height:auto;
	border: 2px solid #A4A4A4;
	border-radius: 15px 50px 30px;
}

#copyright{
	position:relative;
	text-align:center;
	
}